<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979858885873-rk9jfi91gta352lo4ca45l2dq0ldu9ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979858885873-rk9jfi91gta352lo4ca45l2dq0ldu9ho</string>
	<key>API_KEY</key>
	<string>AIzaSyAxuQecBxn0XKgZjhUYtKJ04rNAmyiGBto</string>
	<key>GCM_SENDER_ID</key>
	<string>979858885873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtechno.dapp.premium</string>
	<key>PROJECT_ID</key>
	<string>dapppremium</string>
	<key>STORAGE_BUCKET</key>
	<string>dapppremium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979858885873:ios:75c9f92bd919ae367ded50</string>
	<key>DATABASE_URL</key>
	<string>https://dapppremium.firebaseio.com</string>
</dict>
</plist>